@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Momo+Signature&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* reset css */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button {
  background: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* css стили */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(17, 17, 17, 0.479);
  background-color: #f5efef;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 50px;
  background-color: rgb(196, 236, 223);
  height: 70px;
}

.header-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
  margin-top: 25px;
}

.banner-title {
  font-size: 45px;
  margin-bottom: 20px;
  color: rgb(51, 49, 49);
  font-weight: 700;

}

.nav-title {
  background-color: white;
  font-weight: 500;
  border-radius: 16px;
  border-color: black;
  padding: 10px 15px;
}

.banner-subtitle {
  font-size: 30px;
  font-family: "Momo Signature", cursive;
  font-weight: 400;
  font-style: normal;
}

.tags-title {
  font-size: 40px;
  color: rgb(51, 49, 49);
}

.tags-nav {
  display: flex;
  margin-bottom: 50px;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.tag {
  margin-right: 12px;
  background-color: rgba(255, 255, 255, 0.459);
  border-radius: 20px;
  padding: 10px;
  border: 2px;
  border-color: rgb(160, 201, 187);
}

.tag:hover {
  scale: 1.2;
}

.blog {
  padding: 20px 50px;
  width: 900px;
  background-color: rgba(255, 255, 255, 0.493);
  border-radius: 20px;
  border: 1px;
  height: 300px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.blog-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-info {
  justify-self: flex-start;
  margin-top: 15px;
  margin-left: 15px;
  font-size: 15px;
}

.blog-author {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 500;
  color: rgb(117, 155, 142);
}

.blog-name {
  width: 100%;
  font-weight: 500;
  font-size: 23px;
  margin-top: 30px;
  margin-bottom: 20px;
  color: rgb(51, 49, 49);
}

.blog-desc {
  font-size: 17px;
  width: 100%;
  margin-bottom: 30px;
}

.blog-heeader {
  display: flex;
  justify-content: space-between;
}

.blog-likes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
  margin-top: 15px;
  margin-right: 15px;
  border-radius: 20px;
  padding: 5px;
  background-color: rgb(196, 236, 223);
}

/* .blog-likes:hover {
  scale: 1.1;
  color: white;
  border-radius: 20px;
  padding: 5px;
  background-color: rgb(248, 211, 217);
} */

.blog-tags {
  margin-top: 40px;
  display: flex;
  padding: 0 15px;
}

.blog-tag {
  font-size: 15px;
  border-radius: 20px;
  background-color: white;
  padding: 10px;
}

.details-title {
  font-size: 45px;
  margin-top: 35px;
  margin-bottom: 20px;
  color: rgb(107, 102, 102);
  font-weight: 700;
}

.details-author {
  font-size: 25px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 25px;
  font-weight: 500;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.page-link {
  font-size: 25px;
  font-weight: 500;
  margin-right: 10px;
  padding: 0px 10px;
  border-radius: 50%;
  border: 1px solid rgba(51, 49, 49, 0.562);
  color: rgba(51, 49, 49, 0.651);
  background-color: white;
}

.nav-tag {
  background-color: white;
  font-weight: 500;
  border-radius: 16px;
  border-color: black;
  padding: 4px 7px;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
}

.nav-tag:hover {
  scale: 1.1;
}

.logout-btn {
  background-color: white;
  font-weight: 500;
  border-radius: 16px;
  border-color: black;
  color: rgba(51, 49, 49, 0.562);
  padding: 4px 7px;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
  font-size: 17px;
}

.login-title {
  font-size: 45px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 35px;
}

.registration-link {
  margin-right: 25px;
  font-size: 25px;
  font-weight: 500;
}

.registration-link:hover {
  color: rgb(165, 76, 76);
}

.login-link {
  font-size: 25px;
  font-weight: 500;
}

.login-link:hover {
  color: rgb(165, 76, 76);
}

.signup {
  margin-top: 45px;
}

.signup-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}

.signup-text {
  margin-bottom: 20px;
}

.signup-info input:first-child {
  margin-right: 50px;
}

.signup-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-inputs input {
  height: 35px;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 10px;
  width: 250px;
}

.signup-inputs input::placeholder {
  padding: 10px;
}

.signup-inputs label {
  margin-top: 20px;
}

.error {
  color: rgb(165, 76, 76);
  font-style: italic;
}

.signup label {
  margin-right: 15px;
}

.signup-agree {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.signup-checkbox {
  width: 15px;
  height: 15px;
  margin-left: 15px;
}

.signup-btn {
  font-size: 23px;
  color: #888;
  padding: 5px 22px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.664);
}

.signup-btn:hover {
  scale: 1.1;
}

.signin-btn {
  font-size: 23px;
  color: #888;
  padding: 5px 22px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.664);
}

.signin-btn:hover {
  scale: 1.1;
}

.signin-inputs input {
  width: 250px;
  margin-right: 50px;
  height: 35px;
  margin-bottom: 25px;
  border-radius: 10px;
}

.signin-inputs input::placeholder {
  padding: 10px;
}

.signin-title {
  margin-top: 45px;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}

.signin-text {
  margin-bottom: 20px;
}

.signin label {
  margin-right: 15px;
}

.signup-errors-list {
  color: rgb(165, 76, 76);
  font-weight: 500;
  font-size: 30px;
}

.signup-errors-list li {
  margin-bottom: 30px;
}

.signin-errors-list {
  color: rgb(165, 76, 76);
  font-weight: 500;
  font-size: 30px;
}


.signin-errors-list li {
  margin-bottom: 30px;
}

.greating-user {
  margin-top: 20px;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.616);
  font-weight: 500;
}

.editing-errors-list li {
  color: rgb(165, 76, 76);
  font-style: italic;
  margin-bottom: 10px;
}

.editing {
  margin-top: 35px;
}

.editing-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}

.editing-text {
  margin-bottom: 30px;
}

.editing label {
  margin-bottom: 20px;
}

.editing-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.editing-inputs input {
  width: 250px;
  height: 35px;
  margin-bottom: 25px;
  border-radius: 10px;
}

.editing-inputs input::placeholder {
  padding: 10px;
}

.editing-btn {
  font-size: 23px;
  color: #888;
  padding: 5px 22px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.664);
  margin-bottom: 25px;
}

.editing-btn:hover {
  scale: 1.1;
}

.notfound {
  margin-top: 30px;
}

.notfound-title {
  font-weight: 700;
  font-size: 37px;
  color: rgb(165, 76, 76);
  margin-bottom: 45px;
}

.notfound-link {
  font-size: 30px;
  font-style: italic;
}